<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
        <br />
        TEST
        <br />
        TEST
        <br />
        TEST
      </div>
      </div>
      <div class="col-4 slogan">
      YOUR SLOGAN WILL GO HERE. YOUR SLOGAN WILL GO HERE
      </div>
      <div class="col-5 links">
        <%= link_to 'ADD QUOTE', '#' %>
        <%= link_to 'ABOUT', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <%= yield %>
  </body>
</html>
